---
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m
  url: https://traefik.github.io/charts
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-api-token
  namespace: traefik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: scaleway-secret-manager
    kind: ClusterSecretStore
  target:
    name: cloudflare-api-token
    template:
      data:
        api-token: "{{ .cloudflare_api_token }}"
  data:
  - secretKey: cloudflare_api_token
    remoteRef:
      key: name:cloudflare-api-token
      version: latest_enabled
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt
  namespace: traefik
spec:
  acme:
    email: homelabdns01issuer.stunt134@passinbox.com
    profile: tlsserver
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: acme
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            name: cloudflare-api-token
            key: api-token
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard
  namespace: traefik
spec:
  secretName: domain-tls
  privateKey:
    rotationPolicy: Always
  dnsNames:
    - "*.sonley.dev"
  issuerRef:
    name: letsencrypt
    kind: Issuer
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
  annotations:
    metallb.io/loadBalancerIPs: 10.0.2.200
spec:
  releaseName: traefik
  targetNamespace: traefik
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: ">=37.0.0 <38.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 5m
  values:
    deployment:
      kind: DaemonSet
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        transport:
          respondingTimeouts:
            readTimeout: 0s
            writeTimeout: 0s
            idleTimeout: 180s
      metrics:
        port: 9100
        expose:
          default: true
        exposedPort: 9100
    metrics:
      prometheus:
        serviceMonitor:
          enabled: true
          additionalLabels:
            release: kube-prometheus-stack
    tlsStore:
      default:
        defaultCertificate:
          secretName: domain-tls
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.sonley.dev`)
        entryPoints: ["websecure"]
        middlewares:
          - name: oidc-auth
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Traefik"
          gethomepage.dev/description: "Ingress Controller"
          gethomepage.dev/group: "Infrastructure"
          gethomepage.dev/icon: "traefik.png"
          gethomepage.dev/href: "https://traefik.sonley.dev"
          gethomepage.dev/pod-selector: "app.kubernetes.io/name=traefik"
    experimental:
      plugins:
        traefik-oidc-auth:
          moduleName: "github.com/sevensolutions/traefik-oidc-auth"
          version: "v0.13.0"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
  namespace: traefik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: scaleway-secret-manager
    kind: ClusterSecretStore
  target:
    name: pocket-id
    template:
      type: Opaque
      data:
        oidc_encryption_key: "{{ .oidc_encryption_key}}"
        oidc_client_id: "{{ .oidc_client_id}}"
        oidc_client_secret: "{{ .oidc_client_secret}}"
  data:
  - secretKey: oidc_encryption_key
    remoteRef:
      key: name:pocket-id
      property: oidc_encryption_key
      version: latest_enabled
  - secretKey: oidc_client_id
    remoteRef:
      key: name:pocket-id
      property: oidc_client_id
      version: latest_enabled
  - secretKey: oidc_client_secret
    remoteRef:
      key: name:pocket-id
      property: oidc_client_secret
      version: latest_enabled
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oidc-auth
  namespace: traefik
spec:
  plugin:
    traefik-oidc-auth:
      Secret: "urn:k8s:secret:pocket-id:oidc_encryption_key"
      Provider:
        ClientId: "urn:k8s:secret:pocket-id:oidc_client_id"
        ClientSecret: "urn:k8s:secret:pocket-id:oidc_client_secret"
        Url: https://pocket-id.sonley.dev
      Scopes:
        - openid
        - profile
        - email
        - groups
